<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.icdatofcusgmail.lucidfood">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <supports-screens
        android:anyDensity="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true" >
    </supports-screens>
    <application
        android:name=".LucidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame ="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".VendorActivityArchive.VendorActivity"
            android:screenOrientation="reversePortrait"
            android:theme="@style/VendorActivity"
            android:multiprocess="true"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivityArchive.LoginActivity"
            android:theme="@style/LoginActivity"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".FoodmenuActivityArchive.FoodmenuActivity"
            android:theme="@style/FoodmenuActivity" />
        <activity
            android:name=".FoodmenuActivityArchive.FoodhistoryActivity"
            android:parentActivityName=".FoodmenuActivityArchive.FoodmenuActivity">
        </activity>

        <activity
            android:name=".ServingActivityArchive.ServingActivity"
            android:screenOrientation="reversePortrait"
            android:theme="@style/ServingActivity" />

        <service
            android:name=".FoodmenuActivityArchive.FoodServicing"
            android:exported="false">
        </service>
    </application>

</manifest>